.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.filters {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.filters input,
.filters select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
