.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
