.login-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 300px;
  padding: 30px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-box input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-box button {
  padding: 10px;
  border: none;
  background: #111;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.login-box button:disabled {
  background: #777;
}

.error {
  color: red;
  font-size: 14px;
}
