.card {
  background: white;
  padding: 18px;
  border-radius: 12px;
  text-align: center;
  transition: 0.2s;
  width: 300px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 160px;
  object-fit: contain;
  width: 100%;
  margin-bottom: 12px;
}

.title {
  font-size: 15px;
  height: 40px;
  overflow: hidden;
}

.price {
  font-weight: bold;
  margin: 10px 0;
}

.btn {
  padding: 8px 16px;
  border: none;
  background: #111;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #333;
}
